body {
    height: 95vh;
    width: 95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    font-family: sans-serif;
    font-size: 24px;
    color: green;
}

header {
    border: 5px dashed rgba(169, 175, 168, 0.589);
    padding: 5px 90px;
    
}

